{
  "chain_name_max_length": 28,

  "public_ip": "222.222.222.222",

  "local_range": "192.168.122.0/24",

  "domain": {
    "MySQL":
      "private_ip": "192.168.122.20",
      "local_range": "192.168.122.0/25",
      "port_map": {
        "tcp": [ [8022, 22], 3306 ]
      },

    "Apache":
      "interface": "virbr0",
      "private_ip": "192.168.122.30",
      "port_map": {
        "tcp": [ [8122, 22], 80, 443 ]
      }
  }
}
